* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px; 
}

h1 {
	font: bold 2.5em arial,helvetica;
	color: blue;
	text-align: center;
}

p{
	text-align: center;
	font: normal 1em arial,helvetica; 
	color: #202020;
}

.responsive {
	max-width: 100%;
    height: auto;
}